:root {
    --background-color: #212121;
    --header-color: #2B2B2B;
    --header2-color: #212121;
    --nav-color: #737A7A;
    --boxseethrough-color: rgba(83, 83, 83, 0.555);
    --boxseethrough-color2: rgba(59, 59, 59, 0.507);
    --a-color: #ffffff;
    --p-color: #ffffff;
    --border: 3px double var(--nav-color);
    --form-border: 1px solid var(--nav-color);
}

/* Mobile first, so flex-direction is column by default */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--p-color);
    background-image: url(./images/1021-2048x1206.jpg);
    background-size: cover;
    background-color: var(--background-color);
}

/* Header and navigation styling */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--header-color);
}

header h1 {
    flex: 1 1 32%;
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    border-radius: 0 150px 0 0;
    margin:0;
    background-color: var(--header2-color);
}

nav {
    flex: 2 2 65%;
    border-radius: 0 0 0 150px;
    margin: 7vh 0;
    padding: 0.5vh 0;
    background-color: var(--nav-color);
}

.nav-links {
    display: flex;
    justify-content: center;
    padding: 0.1vh;
}

.nav-links li {
    padding: 1vh 1vh 1vh 1vh;
    font-size: 2vh;
    text-transform: uppercase;
}

/* All a tags under nav are styled like so */

.nav-links a {
    color: var(--a-color);
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-decoration: none;
}

/* Main container controls */

main {
    display: flex;
    flex-direction: column;
}

/* Projects section styling. */

#projects {
    margin-top: 31vh;
}

.about-me-heading,
.project-heading,
.contact-section h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 1vh;
    margin: 2vh 0;
    background-color: var(--nav-color);
}

.project-heading {
    border-radius: 0 150px;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3vh;
}

/* This class determines the first object in the flexbox to be 100%, */
.project-main {
    flex: 1 1 100%;
    border: var(--border);
    margin: 5px;
}

.project-aside {
    flex: 1 1 20%;
    border: var(--border);
    margin: 5px;
}

img[src*="600.jpg"] {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Hover overlay controls */

.project-main,
.project-aside {
    position: relative;
}

.overlay-main {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 5%;
    padding: 1vh 10vh;
    background-color: var(--boxseethrough-color);
}

.overlay-aside {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 5%;
    padding: 0vh 1vh;
    background-color: var(--boxseethrough-color);
}

.overlay-main a,
.overlay-aside a {
    color: var(--a-color);
    text-decoration: none;
}   

.overlay-main:hover,
.overlay-aside:hover {
    opacity: 1;
}

/* About me section styling. */

.about-me-heading {
    border-radius: 0 150px 0 150px;
    background-color: var(--header2-color);
}

.about-me-biography {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: var(--border);
    margin: 3.5vh;
    max-width: 100%;
    background-color: var(--boxseethrough-color);
}

.about-me-biography img {
    margin: 4vh 4vh 0;
    max-width: 100%;
}

.about-me-biography p {
    margin: 4vh 4vh;
    max-width: 20%;
    height: auto;
}

/* Contact form styling */

#contact {
    display: block;
}

form {
    margin: 2vh 4vh;
    padding: 1vh 2vh 5vh;
    border: var(--border);
    color: var(--p-color);
    background-color: var(--boxseethrough-color);
}

input,
textarea {
    width: 100%;
    resize: none;
    margin-bottom: 1.5  vh;    
    border: var(--form-border);
    color: var(--p-color);  
    background-color: var(--boxseethrough-color2);
}

button {
    color: var(--p-color);
    border: var(--form-border);
    background-color: var(--nav-color);
}

.nav-links a:focus,
input:focus,
textarea:focus,
button:focus {
    border: 1px solid var(--p-color);
}

/* Footer Styling */

footer {
    display: block;
    clear: both;
    text-align: center;
    margin: 1vh 0;
    padding: 0.5vh;
    background-color: var(--header-color);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

/* Media Queries */

/* Tablet size */
@media screen and (min-width:768px) {
    header h1 {
        text-align: left;
        margin: 7vh 2vh 7vh 0;
        padding: 2vh;
    }
    .nav-links {
        justify-content: flex-end;
        margin-right: 5vh;
    }
    .nav-links li {
        font-size: 3.9vw;
    }
    #projects {
        margin-top: 45vh;
    }
    .about-me-heading,
    .project-heading {
        padding: 2vh;
    }
    .about-me-biography {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-me-biography img {
        max-width: 50%;
    }
    .about-me-biography p {
        max-width: 100%;
    }
    img[src*="600.jpg"] {
        min-width: 100%;
        height: auto;
    }
}

/* Desktop Size */
@media screen and (min-width:900px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-count: 2;
        margin: 4vh;
    }    
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
    }
    .nav-links li {
        padding: 2vh 1vh;
        font-size: 3vh;
    }  
    .nav-links a:hover,
    .nav-links a:focus {
        text-decoration: line-through
    }
    .project-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #projects,
    #about {
        margin-top: 25vh;
        max-width: 50%;
    }
    .about-me-heading,
    .project-heading {
        margin: 1vh;
    }
    .contact-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact-section form {
        flex: 1 1 33.33%;
        min-width: 33.33%;
    }
    .contact-section div {
        flex: 1 1 100%;
        min-width: 33.33%;
        padding: 0 10vh;
    }
}

/* For 720p screens */

@media screen and (min-width:1280px) {
    main {
        margin: 4vh 20vh;
    }
}